<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="public/fonts/canaro.css" />
  <style>
    * {
      font-family: arial, helvetica, sans-serif;
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
    .bold {
      font-weight: bold;
    }
    .label-row {
      display: flex;
      flex-direction: row;
      flex: 1;
    }
    .label-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 2px;
    }
    .border-top {
      border-top: 1px solid #000;
    }
    .border-right-bottom {
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
    }
    .border-left-bottom {
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
    }
    .border-right-top {
      border-right: 1px solid #000;
      border-top: 1px solid #000;
    }
    .border-left-top {
      border-left: 1px solid #000;
      border-top: 1px solid #000;
    }
    .border-right-top-bottom {
      border-right: 1px solid #000;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
    .border-left-top-bottom {
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
    }
    .border-top-bottom {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
  </style>
</head>
<body>
  <div class="label-row">
    <div class="label-item border-right-bottom">
      <span class="bold">FROM: </span>
      <span>G-Global</span>
      <span>2695 Customhouse Ct</span>
      <br />
      <span>San Diego, CA 92154</span>
    </div>
    <div class="label-item border-left-bottom">
      {{#shipAddress}}
        <span>TO:</span>
        <span>{{name}}</span>
        <span>{{address1}}</span>
        {{#address2}}
          <span>{{address2}}</span>
        {{/address2}}
        <br />
        <span>{{SHIPP}}</span>
      {{/shipAddress}}
    </div>
  </div>
  <div class="label-row">
    <div class="label-item border-right-top-bottom" style="flex: 2">
      <span>Ship To Postal Code:</span>
      <span>{{POSTAL}}</span>
      <img src="https://clipground.com/images/barcode-clipart-hd-7.png" width="100" height="40" alt="postal-code" />
    </div>
    <div class="label-item border-left-top-bottom">
      <span>Carrier:</span>
      <span>{{carrier}}</span>
    </div>
  </div>
  <div class="label-row">
    <div class="label-item border-top-bottom" style="width: 100%;">
      <span>PO: {{PONUMBER}}</span>
      <div style="display: grid; grid-template-columns: 1fr 1fr;">
        <span>DEPT:</span>
        <span>{{DEPT}}</span>
      </div>
      <div style="display: grid; grid-template-columns: 1fr 1fr;">
        <span>Qty: {{QTY}}</span>
        <span>{{DEPT}}</span>
      </div>
    </div>
  </div>
  <div class="label-row">
    <div class="label-item border-top-bottom">
      <span>FOR:</span>
      <span>{{COMPANY}}</span>
      <span>ST# {{NUM}}</span>
    </div>
  </div>
  <div class="label-row">
    <div class="label-item border-top" style="padding-top: 8px; justify-content: center; align-items: center;">
      <span>{{code}}</span>
      <img src="https://clipground.com/images/barcode-clipart-hd-7.png" width="200" height="60" alt="bar-code" />
    </div>
  </div>
</body>
</html>